{
    "swagger": "2.0",
    "info": {
        "title": "InforwardCMS",
        "description": "\u672c\u9879\u76ee\u662f\u57fa\u4e8eThinkphp5.1\u5236\u4f5c\u7684\u7f51\u7ad9\u7ba1\u7406\u7cfb\u7edf(CMS)\u540e\u7aef\u7a0b\u5e8f,\u4e3b\u8981\u5305\u542bapi\u63a5\u53e3\u4e0e\u540e\u53f0\u7ba1\u7406\u7cfb\u7edf",
        "version": "0.1"
    },
    "host": "api.host.com",
    "basePath": "/",
    "schemes": [
        "http",
        "https"
    ],
    "paths": {
        "/qrcodeapi/get_qrcode": {
            "post": {
                "tags": [
                    "QrcodeApi"
                ],
                "summary": "\u83b7\u53d6\u5355\u4e2a\u4e8c\u7ef4\u7801",
                "description": "\u83b7\u53d6\u4e00\u4e2a\u4e8c\u7ef4\u7801\u8bb0\u5f55",
                "operationId": "get_qrcode",
                "produces": [
                    "application/xml",
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "union_id",
                        "in": "query",
                        "description": "\u4e8c\u7ef4\u7801\u8bb0\u5f55\u5bf9\u5e94\u7684\u552f\u4e00union_id",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/User"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        }
    },
    "definitions": {
        "QrcodeApi": {
            "type": "object"
        }
    },
    "tags": [
        {
            "name": "QrcodeApi",
            "description": "\u4e8c\u7ef4\u7801\u63a5\u53e3\u7c7b"
        }
    ]
}